.bloc-recherche
	margin-top:20px

	.form-recherche
		margin-top:20px

	.criteres-recherche
		.criteres-recherche-filtre
			float : right

	.critere-recherche-champs
		margin-top:20px

		.btn-appliquer-filtre

			.btn
				margin-top:25px
				float : right

	.liste-resultats
		margin-top:60px
		span
			a
				color : white
				text-decoration-line : underline
			a:hover
				text-decoration : none
		table
			margin-top:10px

		.informations-terrain
			margin-top:10px

			.carte-terrain
				border: 1px solid black
				height: 250px


